{% extends 'base.html.twig' %}

{% block title %}Edit Alumnoscursos{% endblock %}

{% block div %}
<section class="section" id="about">
<div class="container">
 <h1>Edit Alumnoscursos</h1>

    {{ include('alumnoscursos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_alumnoscursos_index') }}">back to list</a>

    {{ include('alumnoscursos/_delete_form.html.twig') }}
    </div>
    </section>
{% endblock %}
