{% extends 'base.html.twig' %}

{% block title %}Nueva realación de Alumno curso{% endblock %}

{% block div %}
<section class="section" id="about">
    <div class="container">
        <div class="col-md-6">
            <h1>Crear nuevo Alumno en un curso</h1>

            {{ include('alumnoscursos/_form.html.twig') }}
            <div style="margin-top: 20px;">
                <a href="{{ path('app_alumnoscursos_index') }}">back to list</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
