{% extends 'base.html.twig' %}

{% block title %}New Alumnos{% endblock %}

{% block div %}
    

   <section class="section" id="about"> 
   
        <div class="container">
             <h1>Create new Alumno</h1>
            {{ include('alumnos/_form.html.twig') }}
               <div style="margin-top: 20px;">
                    <a href="{{ path('app_alumnos_index') }}">Back to list</a>
               </div>
        </div>
   
   </section>

   

   
{% endblock %}
