{% extends 'base.html.twig' %}

{% block title %}Alumnoscruso index{% endblock %}

{% block body %}
    <h1>Alumnoscruso index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alumnoscruso in alumnoscrusos %}
            <tr>
                <td>{{ alumnoscruso.id }}</td>
                <td>
                    <a href="{{ path('app_alumnoscruso_show', {'id': alumnoscruso.id}) }}">show</a>
                    <a href="{{ path('app_alumnoscruso_edit', {'id': alumnoscruso.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alumnoscruso_new') }}">Create new</a>
{% endblock %}
