{% extends 'base.html.twig' %}

{% block title %}New Alumnoscruso{% endblock %}

{% block body %}
    <h1>Create new Alumnoscruso</h1>

    {{ include('alumnoscruso/_form.html.twig') }}

    <a href="{{ path('app_alumnoscruso_index') }}">back to list</a>
{% endblock %}
