<!DOCTYPE html>
<html lang="es">
<head>
{{
    render(controller(
        'App\\Controller\\partes\\head::head_render',
        { 'max': 3 }
    ))
}}
        <title>
            {% block title %}
                Home
            {% endblock %}
        </title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
{{
    render(controller(
        'App\\Controller\\partes\\navbar::navbar_render',
        { 'max': 3 }
    ))
}}



{% block div %}{% endblock %}


{{

    render(controller(
        'App\\Controller\\partes\\footer::footer_iniciar',
        { 'max': 3 }
    ))

}}
	
{{
    render(controller(
        'App\\Controller\\partes\\script::script_iniciar',
        { 'max': 3 }
    ))
}}

</body>
</html>
